global
    log stdout format raw local0

defaults
    log global
    option httplog
    option dontlognull

frontend http_front
    id 1
    bind *:80
    mode http

    acl prometheus_path path_beg /prometheus
    acl grafana_path path_beg /grafana
    acl root_path path -i /

    use_backend prometheus if prometheus_path
    use_backend grafana if grafana_path
    http-request redirect location /grafana/public-dashboards/5b1f9fc67dee4cad94a19b3dcbe1d24d?orgId=1 if root_path

backend prometheus
#    http-request set-path %[path,regsub(^/prometheus,,g)]
    server prometheus_server prometheus:9090
    mode http

backend grafana
#    http-request set-path %[path,regsub(^/grafana,,g)]
    server grafana_server grafana:3000
    mode http
